*
p{
 color: blue;
}
#Section1
{
	background-color: blue;
	box-sizing: border-box;
	border: 5px;
}
#Section2
{
	background-color: red;
	box-sizing: border-box;
	border: 5px;
}
}
#Section3
{
	background-color: greenyellow;
	box-sizing: border-box;
	border: 5px;
}
}