*
{
	padding: 5px;
	border-width: 1px;
	border-color: black;
	margin: 2px;
	box-sizing:border-box;
}
@media(min-width:992px) {
		p{
			color:blue;
		}
	}
#Section1
{
	background-color: blue;
}
#Section2
{
	background-color: red;
}
#Section3
{
	background-color: green;
}